# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    R
    Python
    Java
    Julia

Some of the commonly used libraries used by Data Scientists include:
    Pandas
    scikit-learn
    matplotlib
    numpy

In [ ]:
Data Science Tools
TensorFlow
ApacheSpark
projectJupiter

### Below are a few examples of evaluating arithmetic expressions in Python
5+2
3-2
5*2

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

# List popular languages for Data Science.
* Python
* Julia
* MATLAB
* SQL
* Scala

## Author
## Muhammad Aamer